/* css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

/* ***********************   fonts  ********************** */

@font-face {
    font-family: 'iran-sans';
    src: url(../fonts/IRANSans-web.woff) format('wof');
    src: url(../fonts/IranianSansBold.ttf) format('ttf');
}

@font-face {
    font-family: 'sahel';
    src: url(../fonts/Sahel-Black-FD.eot) format('eot');
    src: url(../fonts/Sahel-Black-FD.woff) format('woff');
    src: url(../fonts/Sahel-FD.eot) format('eot');
    src: url(../fonts/Sahel-FD.woff) format('woff');
}

/* ***********************   media query  ********************** */


/* ***********************   nav  ********************** */
nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #151515;
    color: white;
    z-index: 3;
    width: 100%;
   
}
.list{
    display: flex;
    
    font-family: 'sahel';
    /* border: 1px solid yellow; */
    margin-top:20px ;
}
.items{
    width: 110px;
    font-family: 'sahel';
    font-weight: 500;
    padding: 15px;
    cursor: pointer;
    /* border: 1px solid red; */
    text-align: center;

}
.logo{
    width: 80px;
    height: 25px;
    cursor: pointer;
    margin-right: 50px;
    /* border: 1px solid green; */
}

.auth{
    display: flex;
    flex-direction: row;
    
    /* border: 1px solid red; */
    font-family: 'sahel';
    font-weight: 500;
    margin: 10px;
    margin-right: 13rem;

}

.login{
    width: 55px;
    height: 45px;
    background-color: rgba(0,0,0,.4);
    text-align: center;
    padding-top: 8px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}
.signup{
    width: 65px;
    height: 45px;
    background-color: rgba(0,0,0,.4);
    text-align: center;
    padding-top: 8px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;

}
.menu{
    display: none;
    
}
.menu i{
    font-size: 2rem;
    cursor: pointer;
}
.shownav{
    display: none;
}

@media screen and (max-width: 996px) {
    nav{
        display: flex;
        
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }
    .list{
        display: none;
        
    }
    .auth{
        margin-right: -3rem;
    }
    .menu{
        display: flex;
    }
    .logo{
        margin-right: 0;
    }
    .shownav{
        position: fixed;
        width: 100%;
        height: 70%;
        top: 0;
        background-color: #151515;
        color: white;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        transform: translateX(100%); 
        /* position: relative; */
        transition: 0.9s;
        z-index: 1;
        
    }
    .shownavbar{
        transform: translate(0%);
    }
    
     .close-menu{
        position: absolute;
        justify-content: left;
        /* right: 26rem; */
        left: 3rem;
     }
     .close-menu i{
        font-size: 1.5rem;
        cursor: pointer;
     }
    
}


.image{
    width: 400px;
    height: 500;
    align-items: center;
    

}
.movie-slider{
    width: 100%;
    height: 500px;
    margin-bottom: 3rem;
    
    object-fit: cover;
    opacity: 0.8;
    
    
}
.blackfade{
    
    opacity: 0.7;
   
    transition: 0.7s;
    background-color: #000;
    overflow: hidden;
    height: 500px;
}
.blackfade:hover{
    background-color: transparent;
    
    opacity: 0.9;
    


}

/* ***********************   login  ********************** */
.authlogin{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 500px;
    /* border: 1px solid red; */
    display: flex;
    border:1px solid #edede9;
    margin-right: 10rem;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 0px 5px;
    
}
.vector-login{
    width: 50%;
    height: 380px;
    background: transparent;
    margin-top: 2rem;
    /* border: 1px solid yellow; */
    object-fit: cover;
    overflow: hidden;
}
.form-login{
    width: 50%;
    /* border: 1px solid green; */
    margin-top: 2rem;
    padding-right: 5rem;
    padding-top: 1rem;
}
.login-title{
    font-family: 'sahel';
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 2rem;
    margin-right: 23rem;
    margin-top: 2rem;
}
.sec-login{
    display: flex;
    flex-direction: row;
}
.label-login{
    font-family: 'sahel' sans-serif;
    /* letter-spacing: 2px; */
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.input-login{
    width: 20rem;
    height: 2.75rem;
    margin-bottom: 1rem;
    direction: ltr;
    padding-left: 0.5rem;
    position: relative;
    /* border-radius: 1px; */
    /* border: 3px; */
}
.btn-login{
    width: 100px;
    height: 45px;
}
.remmber{
    width: 15rem;
    height: 2rem;
     
     margin-bottom: 2rem;
     display: flex;
}
.input-remeber{
width: 1.55rem;
height: 1.55rem;
align-self: center;
}
.label-remember{
    font-size: 1rem;
    font-family: 'sahel';
    font-weight: 600;
    margin-right: 1rem;
}
.show-hide{
    position: absolute;
    font-size: 1.55rem;
    top: 452px;
    right: 708px;
    z-index: 1;
    transform: translateY(-50%);
    color: #6c757d;
    cursor: pointer;
    display: none;
}


.show-hide i.hide::before {
    content: '\F33F';
   
  }
.input-login:valid ~ .show-hide {
    display: block;
}
.show-hide2{
    position: absolute;
    font-size: 1.55rem;
    top: 550px;
    right: 710px;
    z-index: 1;
    transform: translateY(-50%);
    color: #6c757d;
    cursor: pointer;
    display: none;
}


.show-hide2 i.hide::before {
    content: '\F33F';
   
  }
.input-login:valid ~ .show-hide2 {
    display: block;
}

.error-text{
    margin-top: -5px;
    margin-bottom: 0;
    font-size: 12px;
}

.footer{
    background-color: #151515;
    color: white; 
    font-family: 'sahel' , sans-serif;
}
.footer span{
    font-family: sans-serif;
}
.icons{
    display: flex;
    /* border: 1px solid red; */
    padding-right: 25rem;
}
.icons a{
    margin-right: 5rem;
    padding-top: 1.75rem;
    font-size: 1.25rem;
}
.call{
    display: flex;
    align-items: center;
}
.contact{
    /* border: 1px solid yellow; */
    padding-right: 3rem;
}
.footer-text{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.footer-info{
    font-family: sans-serif;
    margin-right: 10px;
}

.feature-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.9);
    
}
.feacture-card{
    transition: 0.7s;

}
.feacture-card:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.feature-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    padding-top: 1rem;
    letter-spacing: 3px;
    color: #6c7172;
}