/* css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

/* ***********************   fonts  ********************** */

@font-face {
    font-family: 'iran-sans';
    src: url(../fonts/IRANSans-web.woff) format('wof');
    src: url(../fonts/IranianSansBold.ttf) format('ttf');
}

@font-face {
    font-family: 'sahel';
    src: url(../fonts/Sahel-Black-FD.eot) format('eot');
    src: url(../fonts/Sahel-Black-FD.woff) format('woff');
    src: url(../fonts/Sahel-FD.eot) format('eot');
    src: url(../fonts/Sahel-FD.woff) format('woff');
}

/* ***********************   media query  ********************** */


/* ***********************   nav  ********************** */
nav{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #151515;
    color: white;
    z-index: 2;
    width: 100%;
   
}
.list{
    display: flex;
    
    font-family: 'sahel';
    /* border: 1px solid yellow; */
    margin-top:20px ;
}
.items{
    width: 110px;
    font-family: 'sahel';
    font-weight: 500;
    padding: 15px;
    cursor: pointer;
    /* border: 1px solid red; */
    text-align: center;

}
.logo{
    width: 80px;
    height: 25px;
    cursor: pointer;
    margin-right: 50px;
    /* border: 1px solid green; */
}

.auth{
    display: flex;
    flex-direction: row;
    
    /* border: 1px solid red; */
    font-family: 'sahel';
    font-weight: 500;
    margin: 10px;
    margin-right: 13rem;

}

.login{
    width: 55px;
    height: 45px;
    background-color: rgba(0,0,0,.4);
    text-align: center;
    padding-top: 8px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}
.signup{
    width: 65px;
    height: 45px;
    background-color: rgba(0,0,0,.4);
    text-align: center;
    padding-top: 8px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;

}
.menu{
    display: none;
    
}
.menu i{
    font-size: 2rem;
    cursor: pointer;
}
.shownav{
    display: none;
}

@media screen and (max-width: 996px) {
    nav{
        display: flex;
        
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }
    .list{
        display: none;
        
    }
    .auth{
        margin-right: -3rem;
    }
    .menu{
        display: flex;
    }
    .logo{
        margin-right: 0;
    }
    .shownav{
        position: fixed;
        width: 100%;
        height: 70%;
        top: 0;
        background-color: #151515;
        color: white;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        transform: translateX(100%); 
        /* position: relative; */
        transition: 0.9s;
        z-index: 1;
        
    }
    .shownavbar{
        transform: translate(0%);
    }
    .section{
        margin-top: -15rem;
        
    }
     .close-menu{
        position: absolute;
        justify-content: left;
        /* right: 26rem; */
        left: 3rem;
     }
     .close-menu i{
        font-size: 1.5rem;
        cursor: pointer;
     }
    
}


.image{
    width: 400px;
    height: 500;
    align-items: center;
    

}
.movie-slider{
    width: 100%;
    height: 500px;
    margin-bottom: 3rem;
    
    object-fit: cover;
    opacity: 0.8;
    
    
}
.blackfade{
    
    opacity: 0.7;
   
    transition: 0.7s;
    background-color: #000;
    overflow: hidden;
    height: 500px;
}
.blackfade:hover{
    background-color: transparent;
    
    opacity: 0.9;
    


}